@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");


* {
  box-sizing: border-box;
}

:root {
  --Sniglet-font: "Sniglet", monospace;
  --Rubik: "Rubik", monospace;
  --Patua: "Patua One", monospace;
  --Lobster: "lobster", monospace;
  --light-black: #3d3535af;
  --bggradient: linear-gradient(to bottom, #fff, #29f355);
  --light-gray: rgba(238, 226, 226, 0.877);
}


.section-3 {
  font-family: var(--Rubik);
  background: var(--bggradient);
}

.section-3 .links {
  text-align: center;
  padding-top: 40px;
}

button {
  margin-top: 40px;
  min-width: 94vw;
}
